main {
  width: 590px;
  /* height: 200px; */
  display: inline-block;
  font-size: 15px;
  vertical-align: top;
}

main header {
  height: 110px;
  padding: 30px 20px 30px 40px;
}
main header > * {
  display: inline-block;
  vertical-align: top;
}
main header div {
  margin-left: 10px;
  margin-right: 145px;
}
main header h2 {
  font-size: 16px;
  margin-bottom: 5px;
}
main header h3 {
  font-size: 14px;
  font-weight: normal;
  color: #7e818a;
}

#chat {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  overflow-y: scroll;
  height: 535px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
#chat li {
  padding: 5px 30px;
}
#chat h2,
#chat h3 {
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
  margin-left: 5px;
}
#chat h3 {
  color: #bbb;
}
#chat .entete {
  margin-bottom: 5px;
}
#chat .message {
  padding: 0px 7px;
  color: #fff;
  line-height: 25px;
  max-width: 90%;
  display: inline-block;
  text-align: left;
  border-radius: 5px;
}
#chat .me {
  text-align: right;
}
#chat .you .message {
  background-color: #58b666;
}
#chat .me .message {
  background-color: #6fbced;
}

main footer {
  height: 105px;
  padding: 10px 10px 30px 10px;
}
main footer input {
  resize: none;
  border: none;
  display: block;
  width: 100%;
  height: 35px;
  border-radius: 3px;
  font-size: 13px;
  outline: none;
}
main footer input::placeholder {
  color: #ddd;
  font-size: 1rem;
  padding-left: 20px;
}

main footer button {
  margin-top: 20px;
}
