/* .dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
}
.channel {
  display: flex;
  margin: 1rem 0rem;
  padding: 1rem 4rem;
  align-items: center;
}
.channel h2 {
  padding: 0rem 2rem;
}

.user img {
  border-radius: 50%;
  margin-bottom: 2rem;
}

.signout {
  cursor: pointer;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  width: 12rem;
  border-radius: 2rem;
  color: white;
  padding: 1rem;
  position: relative;
}
.signout h2 {
  text-align: center;
  color: white;
  font-weight: 600;
}

.signin {
  cursor: pointer;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10%;
  border-radius: 2rem;
  width: 20rem;
  margin: 0 auto;
  margin-top: 35%;
}

.signin h2 {
  text-align: center;
  color: white;
  font-weight: 600;
} */

aside {
  position: relative;
  width: 260px;
  height: 800px;
  background-color: #3b3e49;
  display: inline-block;
  font-size: 15px;
  vertical-align: top;
}

aside .profile-info {
  display: flex;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 2555, 0.5);
}

aside .profile-info img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
aside .profile-info h3 {
  margin: 0 auto;
  color: #fff;
  margin-top: 15px;
}

aside header {
  padding: 30px 20px;
}
aside ul {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  height: 690px;
}
aside li {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 10px 0;
}
aside li:hover {
  background-color: #5e616a;
}
h2,
h3 {
  margin: 0;
}
aside li img {
  /* border-radius: 50%; */

  width: 40px;
  height: 40px;
  margin-top: 5px;
  margin-right: 8px;
}
aside li div {
  display: inline-block;
  vertical-align: top;
  margin-top: 12px;
}
aside li h2 {
  font-size: 14px;
  color: #fff;
  font-weight: normal;
  margin-bottom: 5px;
}
aside li h3 {
  font-size: 12px;
  color: #7e818a;
  font-weight: normal;
}
aside .signout {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 200px;
  width: 100%;
  background-color: #3b3e49;
}

aside .signout .button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 200px;
  background-color: #4b4e53;
  margin: auto;
  margin-top: 15px;
  border-radius: 20px;
}

aside .signout .button:hover {
  background-color: #7e818a;
}

aside .signout .button h4 {
  color: #fff;
}
.status {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 7px;
}
.green {
  background-color: #58b666;
}
.orange {
  background-color: #ff725d;
}
.blue {
  background-color: #6fbced;
  margin-right: 0;
  margin-left: 7px;
}
